/* Filter Animation */

@keyframes amelie-animation {

    0%   { filter: blur(5px) sepia(0%) grayscale(0%); }
    25%  { filter: blur(0) sepia(0%) grayscale(0%); }
    50%  { filter: blur(0) sepia(50%) grayscale(0%); }
    75%  { filter: blur(5px) sepia(0%) grayscale(100%); }
    100% { filter: blur(0) sepia(20%) grayscale(20%); }

}

@-o-keyframes amelie-animation {

    0%   { -o-filter: blur(5px) sepia(0%) grayscale(0%); }
    25%  { -o-filter: blur(0) sepia(0%) grayscale(0%); }
    50%  { -o-filter: blur(0) sepia(50%) grayscale(0%); }
    75%  { -o-filter: blur(5px) sepia(0%) grayscale(100%); }
    100% { -o-filter: blur(0) sepia(20%) grayscale(20%); }

}

@-moz-keyframes amelie-animation {

    0%   { -moz-filter: blur(5px) sepia(0%) grayscale(0%); }
    25%  { -moz-filter: blur(0) sepia(0%) grayscale(0%); }
    50%  { -moz-filter: blur(0) sepia(50%) grayscale(0%); }
    75%  { -moz-filter: blur(5px) sepia(0%) grayscale(100%); }
    100% { -moz-filter: blur(0) sepia(20%) grayscale(20%); }

}

@-webkit-keyframes amelie-animation {

    0%   { -webkit-filter: blur(5px) sepia(0%) grayscale(0%); }
    25%  { -webkit-filter: blur(0) sepia(0%) grayscale(0%); }
    50%  { -webkit-filter: blur(0) sepia(50%) grayscale(0%); }
    75%  { -webkit-filter: blur(5px) sepia(0%) grayscale(100%); }
    100% { -webkit-filter: blur(0) sepia(20%) grayscale(20%); }

}

/* Rotate Animation */

@keyframes amelie-rotation {

    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }

}

@-o-keyframes amelie-rotation {

    from { -o-transform: rotate(0deg); }
    to   { -o-transform: rotate(360deg); }

}

@-moz-keyframes amelie-rotation {

    from { -moz-transform: rotate(0deg); }
    to   { -moz-transform: rotate(360deg); }

}

@-webkit-keyframes amelie-rotation {

    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(360deg); }

}