* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header {
    position: absolute;
    z-index: 101;
    top: 20px;
    right: 20px;
    color: white;
    text-align: right;
}

header h1 {
    font-family: Lato, Arial, Tahoma Helvetica, sans-serif;
    font-size: 32px;
    text-transform: uppercase;
}

header h2 {
    font-family: "Times New Roman", Times, serif;
    color: rgba(255, 255, 255, .5);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 11px;
}

/* Background */

section.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent url('../../Amelie_/example/images/background.png') no-repeat;
    background-size: cover;

            animation: amelie-animation 45s infinite;
         -o-animation: amelie-animation 45s infinite;
       -moz-animation: amelie-animation 45s infinite;
    -webkit-animation: amelie-animation 45s infinite;

            filter: blur(5px);
         -o-filter: blur(5px);
       -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
}

section.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 5px white;
}

/* Visualiser */

audio {
    display: none;
}

section.visualiser {
    position: absolute;
    z-index: 102;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section.visualiser svg {
    position: absolute;
    z-index: 103;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(1px) sepia(50%) brightness(1.2) saturate(250%);
    /*opacity: .75;*/
}